* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Sans-Serif;
}

.container {
    width: 100vw;
    height: 100%;
}

.topnav {
    background-color: #5ab447;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.dados-ectare {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 2px;
}

.h1-dados-ectare {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.p-dados-ectare-cnpj {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.p-dados-ectare {
    margin-top: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 2px;
    background-color: #04AA6D;
}

.h1-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 5px;
}

.container-balanco_dre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-balanco_dre .container-resumo {
    border: 1px solid black;
    padding: 10px;
    margin: 20px 20px 0px 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

[indice] {
    font-weight: bold;
    font-size: 18px;
}

[situacao] {
    font-weight: bold;
    font-size: 18px;
}  