* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Sans-Serif;
}

.container {
    width: 100%;
    height: 100%;
}

.topnav {
    background-color: #5ab447;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.dados-ectare {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 2px;
}

.h1-dados-ectare {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.p-dados-ectare-cnpj {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.p-dados-ectare {
    margin-top: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 2px;
    background-color: #04AA6D;
}

.h1-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 5px;
}

.container-balanco_dre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-balanco_dre .container-resumo {
    padding: 10px;
    margin: 20px 20px 0px 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

[indice] {
    font-weight: bold;
    font-size: 18px;
}

[situacao] {
    font-weight: bold;
    font-size: 18px;
}

.container-consulta_credito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    width: 60vw;
    margin: 0px 20vh 0px 20vw;
}

#probabilidade_pj {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    right: 10px;
    width: 50vw;
}

.container-consulta_credito .container-consulta_credito-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px 0px 50px;

}

.container-consulta_credito .container-consulta_credito-1 .container-score_pj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 50px 0px 50px;
    width: 40vh;
}

.container-consulta_credito .container-consulta_credito-1 .container-score_pj .h1-score_pj {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: lightgreen;
    width: 100%;
    text-align: center;
}

.container-consulta_credito .container-consulta_credito-1 .container-score_pj #score_pj {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.container-consulta_credito .container-consulta_credito-1 .container-score_pj #texto_pj {
    font-size: 18px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.container-consulta_credito .container-consulta_credito-1 .container-medidor {
    right: 10px;
}

.container-consulta_credito .container-consulta_credito-1 .container-medidor .medidor {
    width: 10%;
    height: 10%;
    border: 1px solid black;
}



.container-consulta_credito .container-consulta_credito-1 .container-score_pj {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

.container-consulta_credito .container-consulta_credito-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px 0px 50px;

}

.container-consulta_credito .container-consulta_credito-2 .containers {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 250px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

#protestos_pj {
    margin-top: 20px;
}

.container_boavista .containers .container-score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

.container_boavista .containers .renda-presumida {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    margin-top: 10px;
}

.container_boavista .containers .medidor {
    margin-top: 10px;
}

.container_boavista .containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
}

.container_boavista .container-situacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    margin: 10px;
    width: 200px;
    height: 160px;
    text-align: center;
}

.container_boavista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container-title {
    background-color: lightgreen;
    width: 100%;
    text-align: center;
    font-size: 22px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.renda-presumida .renda-presumida-name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 10px 10px 20px;
    text-align: center;
}

.renda-presumida .renda-presumida-texto {
    font-size: 20px;
    margin: 10px 10px 10px 20px;
    text-align: center;
}

#score {
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    font-size: 28px;
}

#texto {
    font-size: 18px;
    margin: 0px 10px 10px 10px;
}

#texto-probabilidade {
    font-size: 18px;
    font-weight: bold;
}

#probabilidade {
    font-size: 18px;
    margin-left: 10px;

}

.dados-pessoa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 2px;
}

#nome_cpf {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#exercicio {
    margin-top: 10px;
    font-size: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 2px;
    background-color: #04AA6D;
}

.h1-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 5px;
}

.container-analise_socios .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    padding: 2px;
}


.container-analise_socios .container1 .situacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px 10px 0px;
    padding: 10px;
    width: 200px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

.container-analise_socios .container1 .situacao #icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container-analise_socios .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    padding: 2px;
}

.container-analise_socios .container2 #bens_direitos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
}

.container-analise_socios .container2 #dividas_onus_reais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
    margin-left: 30px;
}

.container_graficos {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.container_graficos_1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
}

.title_imposto {
    margin-bottom: 20px;
    font-size: 24px;
}

.container_graficos_2 {
    margin-left: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
}

#container_graficos_1_valor,
#container_graficos_2_valor,
#container_graficos_dividas_onus_1_valor,
#container_graficos_dividas_onus_2_valor {
    font-size: 22px;
}

#container_graficos_1_ano,
#container_graficos_2_ano,
#container_graficos_dividas_onus_1_ano,
#container_graficos_dividas_onus_2_ano {
    font-size: 24px;
    font-weight: bold;
}

#container_graficos_1_grafico,
#container_graficos_dividas_onus_1_grafico {
    background-color: #F0FD60;
    border: 1px solid white;
    border-radius: 10px;
}

#container_graficos_2_grafico,
#container_graficos_dividas_onus_2_grafico {
    background-color: lightgreen;
    border: 1px solid white;
    border-radius: 10px;
}

#container_graficos_2_grafico,
#container_graficos_dividas_onus_2_grafico {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regra_lucratividade {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.container-dados-consolidados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

#table_rendimentos, #table_agronegocio, #table_mov_rebanho {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}